* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: $primary-theme-color;
}
main {
  padding: 0 5rem;
}
section {
  padding: 5rem;
}

a {
  color: inherit;
  text-decoration: none;
}
